.tabledrag-initiated {
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid red
  }

  tr {
    cursor: pointer;
    background-color: transparent;
    transition: .3s background-color ease-in-out;
    user-select: none;

    &.is-dragged {
      background-color: red;
    }

    /*
    &[data-depth="0"] td:first-child {
      padding-left: 30px;
    }

    &[data-depth="1"] td:first-child {
      padding-left: 50px;
    }

    &[data-depth="2"] td:first-child {
      padding-left: 70px;
    }

    &[data-depth="3"] td:first-child {
      padding-left: 90px;
    }
    */
  }
}